*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
     background-color: black; 
}
.container{
    width: 100%;
    height: 330px;
    background-image: url(b2.jpg);
    background-position: center;
    background-size: cover;
}
.container nav .logo{
    color: white;
    margin-right: 40%;
    padding-top: 10px;
    font-size: 2rem;

}
.logo span{
    color: red;
}
.container nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    
    
    
}
.container nav a{
    margin-top: 15px;
    padding-right: 15px;
    color: white;
    text-decoration: none;
    transition-duration: 2s;
    font-size: 1.5rem;
}
.container nav a:hover{
    background-color:transparent;
    color: rgb(141, 63, 35);
}
#content{
    margin-left: 65px;
}
.heading1{
    color: white;
    margin-top: 50px;
    font-size: 1.5rem;
    
}
.heading2{
    color: white;
    margin-bottom: 20px;
    font-size: 1.5rem;
    
}
.paragraph{
    color:lightgoldenrodyellow;
    
}
button{
    margin-top: 10px;
    transition: 2s;
    background-color:rgba(39, 34, 34, 0.774) ;
    color: white;
    
    border-radius: 5px ;
    border: 1px solid rgba(39, 34, 34, 0.774) ;
    padding: 10px;
}
button:hover{
    background-color:rgba(39, 34, 34, 0.774) ;
    color: black;
}
.photobox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 10px;


}
.box1{
    width: 200px;
    height: 150px;
    border: 1px solid ;
}
.box1 p{
    color: white;
    font-size: x-small;
}

.box2{
    width: 200px;
    height: 150px;
    border: 1px solid;
}.box2 p{
    color: white;
    font-size: x-small;
}
.box3{
    width: 200px;
    height: 150px;
    border: 1px solid;
}.box3 p{
    color: white;
    font-size: x-small;
}
.box4{
    width: 200px;
    height: 150px;
    border: 1px solid;
}.box4 p{
    color: white;
    font-size: x-small;
}
#aboutcontent{
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    
}
#aboutcontent .cont{
    color: white;
    margin-left: 80px;
    margin-top: 50px;
    font-size: 2rem;
    
}
#aboutcontent .cont p{
    font-size: 1rem;
    margin-top: 13px;
}
.image{
    border: 1px solid ;
    width: 350px;
    height: 300px;
    margin-left: 20vw;
    margin-top: 50px;
}
#popularcontent 
{
    margin-top: 80px;
}
h3{
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 22px;
    font-size: 1.5rem;
}
.popularimage .box5{
    border: 1px solid ;
    width: 190px;
    height: 165px;
}
.box5 p{
    color: white;
    font-size: 1rem;
}
.box6 p{
    color: white;
    font-size: 1rem;
}
.box7 p{
    color: white;
    font-size: 1rem;
}
.popularimage .box6{
    border: 1px solid ;
    width: 190px;
    height: 165px;
}

    .popularimage .box7{
        border: 1px solid ;
        width: 190px;
    height: 165px;
}
.popularimage{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
}
#footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
#footer .travel h3 {
    color: white;
    font-size: 1.5rem;
    margin-top: 70px;
    
}
#footer .travel p{
    color: white;
    font-size: 1rem;
    margin-top: 10px;
}
.gethelp p{
    color: white;
    margin-top: 70px;
    margin-left: 60px;
}
.gethelp a{
    color: white;
    text-decoration: none;
    font-size: 1;
    margin-left: 60px;
}
.company p{
    color: white;
    margin-top: 70px;
    margin-left: 60px;
}
.company a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 60px;
}
.socialmedia p{
    color: white;
    margin-top: 70px;
    margin-left: 60px;
}
.social a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 80px;
}
#creater{
    color: orange;
    text-align: center;
    margin-top: 20px;
}
@media (max-width:450px) {
    .container{
        height: auto;
        nav{
            .logo{
                padding-right: 60px;
            }
            a{
                display: none;
            }
        }
    }
    #popularcontent{
        margin-top: 450px;
        
    }

}






