*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
     background-color: black; 
}
.container{
    width: 100%;
    height: 280px;
    background-image: url(b2.jpg);
    background-position: center;
    background-size: cover;
}
.container nav .logo{
    color: white;
    margin-right: 40%;
    padding-top: 10px;

}
.logo span{
    color: red;
}
.container nav{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
    
}
.container nav a{
    margin-top: 15px;
    padding-right: 15px;
    color: white;
    text-decoration: none;
    transition-duration: 2s;
}
.container nav a:hover{
    background-color:transparent;
    color: rgb(141, 63, 35);
}
#content{
    margin-left: 40px;
}
.heading1{
    color: white;
    margin-top: 40px;
    
}
.heading2{
    color: white;
    margin-bottom: 10px;
}
.paragraph{
    color:lightgoldenrodyellow;
    font-size: smaller;
}
button{
    margin-top: 20px;
    transition: 3s;
    background-color:rgba(39, 34, 34, 0.774) ;
    color: white;
    
    border-radius: 5px ;
    border: 1px solid rgba(39, 34, 34, 0.774) ;
    padding: 5px;
}
button:hover{
    background-color:rgba(39, 34, 34, 0.774) ;
    color: black;
}
.photobox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 5px;


}
.box1{
    width: 130px;
    height: 110px;
    border: 1px solid ;
}
.box1 p{
    color: white;
    font-size: x-small;
}

.box2{
    width: 130px;
    height: 110px;
    border: 1px solid;
}.box2 p{
    color: white;
    font-size: x-small;
}
.box3{
    width: 130px;
    height: 110px;
    border: 1px solid;
}.box3 p{
    color: white;
    font-size: x-small;
}
.box4{
    width: 130px;
    height: 110px;
    border: 1px solid;
}.box4 p{
    color: white;
    font-size: x-small;
}
#aboutcontent{
    width: 100%;
    height: 300px;
    display: flex;
}
#aboutcontent .cont{
    color: white;
    margin-left: 40px;
    margin-top: 50px;
    
}
#aboutcontent .cont p{
    font-size: x-small;
    margin-top: 13px;
}
.image{
    border: 1px solid ;
    width: 211px;
    height: 251px;
    margin-left: 60px;
    margin-top: 30px;
}
#popularcontent h3{
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 22px;
}
.popularimage .box5{
    border: 1px solid ;
    width: 120px;
    height: 135px;
}
.box5 p{
    color: white;
    font-size: x-small;
}
.box6 p{
    color: white;
    font-size: x-small;
}
.box7 p{
    color: white;
    font-size: x-small;
}
.popularimage .box6{
    border: 1px solid ;
    width: 120px;
    height: 135px;}

    .popularimage .box7{
        border: 1px solid ;
        width: 120px;
        height: 135px;}
.popularimage{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
#footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#footer .travel h3 {
    color: white;
    font-size: small;
    margin-top: 70px;
    
}
#footer .travel p{
    color: white;
    font-size: xx-small;
    margin-top: 10px;
}
.gethelp p{
    color: white;
    margin-top: 70px;
    margin-left: 60px;
}
.gethelp a{
    color: white;
    text-decoration: none;
    font-size: x-small;
    margin-left: 60px;
}
.company p{
    color: white;
    margin-top: 70px;
    margin-left: 60px;
}
.company a{
    color: white;
    text-decoration: none;
    font-size: x-small;
    margin-left: 60px;
}
.socialmedia p{
    color: white;
    margin-top: 70px;
    margin-left: 60px;
}
.social a{
    color: white;
    text-decoration: none;
    font-size: x-small;
    margin-left: 60px;
}
#creater{
    color: orange;
    text-align: center;
    margin-top: 20px;
}






